---
import Header from 'components/Header.astro';
---

<body
  class="bg-green-50 dark:bg-zinc-950 text-zinc-900 dark:text-lime-100 break-words leading-6 transition-colors duration-300">
  <Header />
  <slot />
</body>
