---
import '../styles/globals.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>ChinerNvim</title>
  </head>
  <body class="flex w-full h-full items-center justify-center">
    <h1 class="text-4xl font-bold">New Documentation!</h1>
  </body>
</html>
