<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>ChinerNvim</title>
  </head>
  <body>
    <h1>New Documentation!</h1>
  </body>
</html>

<style>
  html,
  body {
    width: 100%;
    height: 100%;
    display: flex;
  }

  body {
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
  }

  h1 {
    font-size: 2rem;
    font-weight: 800;
  }
</style>
