---
const year = new Date().getFullYear();
---

<footer class="fixed bottom-0 flex w-full flex-col items-center">
  <div class="h-[1px] w-[90%] bg-zinc-300 dark:bg-zinc-900"></div>
  <p class="my-4 text-center font-mono">
    &copy; {year} Pau García Chiner. All rights reserved.
  </p>
</footer>
