---
import ThemeToggle from './theme-toggle';
---

<header
  class="fixed top-0 z-20 flex w-full items-center justify-between p-3 backdrop-blur-md">
  <a class="flex items-center gap-x-2" href="/">
    <img class="size-10" src="/logo.png" alt="Logo" />
    <span class="font-mono text-xl font-bold">ChinerNvim</span>
  </a>
  <ThemeToggle client:only />
</header>
