---
import ThemeToggle from './theme-toggle';
---

<header
  class="flex fixed w-full top-0 p-2 z-20 items-center justify-between backdrop-blur-md">
  <a class="flex items-center gap-x-2" href="/">
    <img class="size-10" src="/logo.png" alt="Logo" />
    <span class="font-mono font-bold text-xl">ChinerNvim</span>
  </a>
  <ThemeToggle client:only />
</header>
